<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ asset('bundles/PokerHandBundle/css/style.css') }}">
</head>
<body>

<h1>Poker Hand</h1>
<div class="block">
    <p>This app deals you five cards and determines the best combination according to poker rules. The number of decks the dealer uses can be set below.</p>
</div>
<div class="block">
    <p>We are playing with <b>{{ decks }} deck{{ (decks > 1) ? 's' : '' }}</b>.</p>
</div>
<div class="block">
    <h3>Your hand is:</h3>
    <p>
        {% for card in hand %}
            <div class="card {{  (card.1 in ['&#x2665','&#x2666']) ? 'red' : '' }}">
                <span class="rank">{{ card.0 }}</span>
                <span class="suit">{{ card.1|raw }}</span>
            </div>
        {% endfor %}
    </p>
</div>
<div class="block">
    <h3>Your best is <b>{{ combination.name }}</b>.</h3>
</div>
<div class="block">
    <h3>The card{{ (combination.cards|length>1) ? 's' : ''}} in this combination:</h3>
        {% for card in combination.cards %}
            <div class="card {{  (card.1 in ['&#x2665','&#x2666']) ? 'red' : '' }}">
                <span class="rank">{{ card.0 }}</span>
                <span class="suit">{{ card.1|raw }}</span>
            </div>
        {% endfor %}
</div>
<div class="block">
    <a class="button" href="{{ path('pokerhand_homepage') }}">Deal Again!</a>
</div>

<div class="form">
    {{ form_start(deckForm) }}
    {{ form_end(deckForm) }}
</div>

<div class="form">
    <p>You can cheat by submitting your hand of cards in the form of <span class="mono">rank.suit</span> separated by comma.</p>
    <p class="small">
        Ranks: <b>2-10</b>, <b>J</b>, <b>Q</b>, <b>K</b>, <b>A</b><br>
        Suits: <b>S</b>pades, <b>D</b>iamonds, <b>H</b>earts, <b>C</b>lubs
    </p>
    <p>Example: <span class="mono">10.S,10.D,10.H,K.C,K.S</span></p>
    {{ form_start(cheatForm) }}
    {{ form_end(cheatForm) }}
</div>

</body>

</html>
