body {
    font-size: 16px;
    font-family: sans-serif;
    max-width: 920px;
    margin: 0 auto;
}

h3 {
    font-weight: normal;
}

span.mono {
    font-family: monospace;
}

.small {
    font-size: 12px;
}

div.block, div.form {
    margin-bottom: 2em;
}

div.form {
    padding: 1em;
    background: #ddd;
}

div.card {
    position: relative;
    border: 1px solid #999;
    padding: 20px 5px 5px 5px;
    border-radius: 3px;
    width: 30px;
    display: inline-block;
    text-align: center;
}

div.card.red {
    color: red;
}

span.rank {
    position: absolute;
    top: 3px;
    left: 3px;
    font-size: 14px;
}

span.suit {
    font-size: 40px;
    line-height: 28px;
}

input, button {
    padding: 0.5em;
}

input[type=number] {
    width: 2em;
}

button, a.button {
    padding: 10px;
    margin-top: 1em;
    border: none;
    background: #51c1c1;
    color: white;
    font-size: 100%;
    border-radius: 4px;
    box-shadow: 1px 2px 2px #999;
    cursor: pointer;
    text-decoration: none;
}